* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.navbar {
    background-color: rgb(19, 66, 77);
    padding: 10px;
    position: relative;
}
.menu-icon {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: block;
}
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; /* Oculto por defecto */
}

.menu li a:hover {
    background-color: #555;
}

#menu-toggle {
    display: none; /* Oculta el checkbox */
}

#menu-toggle:checked + .menu-icon + .menu {
    display: block;
}

.barra-inicial{
    background-color: rgb(19, 66, 77);
    width: 100%;
    height: 40px;
    padding: 0px;
    position: fixed;
    top: 0;
}


.encabezado {
    background-image: url('img/imagenencabezadoelpais.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-top: 200px;
    border-color: rgb(4, 82, 66);

}

#enlace-segundo-encabezado {
    font-size: smaller;
}

.titulos {
    width: 100vh; 
    display: flex;
    margin: auto;
}


h1, h2 {
    text-align: center;
    max-width: 500px;
    margin: auto;
}

h1 {
    font-family: "Cambria", Cochin, "Georgia", Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-size: 50px;
    padding: 10px;
}

h2 {
    font-family:"Arial", sans-serif;
    font-size: small;
    font-weight: lighter;
    max-width: 420px;
    padding: 20px;
    color: #666;
}

ul {
    list-style: none;

}

.enlaces-encabezado p {
    text-align: center;
    margin: auto;
}

div a {
    color: #999;
    font-weight: bolder;
    text-decoration: none;
}

p, ul, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: medium;
    padding: 10px 0px;
    text-align: left;
    max-width: 500px;
    margin: auto;
    line-height: 30px;
}

li {
    padding: 10px;
}

h3 {
    font-weight: 900;
} 

strong {
    font-weight: 800;
}

p {
    padding: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1em;
    flex-wrap: wrap; 
}

.imagen-propaganda {
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
}


#enlace-criterios {
    text-align: center;
    font-weight: medium;
    font-size: small;
    background-color: #bbb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 
    gap: 10px; 
    margin: 0 auto;
}


#ultimos-enlaces {
    font-size: small;
    font-weight: bolder;
    border-color: #999;
    border: 10px;
    text-align: left;
}

footer a {
    text-decoration: none;
    color:#999;
    font-size: small;
}

